[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gql = "*"
numpy = "*"
scipy = "*"
spacy = "*"
scikit-learn = "*"
requests = "*"
sqlalchemy = "*"
nltk = "*"
nose = "*"
tqdm = "*"
pillow = "*"
panda = "*"
keras = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.6"
