.bp5-popover-transition-container {
	/* Make sure it is on top of the advanced search popup */
	z-index: 1070 !important;
}
.bp5-transition-container {
	z-index: 30000 !important;
}

/* Make bp5 input and right element behave mostly like bootstrap inputs */
.bp5-input-group {
	display: inline-block;
}
.bp5-input {
	height: 38px;
}
.bp5-input-action {
	height: 38px;
	padding: 6px 12px;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/* If no right element, take up no space */
.bp5-input-action:empty {
	display: none;
}

.bp5-dark a {
	color: rgb(0, 113, 188);
}

.bp5-dark a.btn {
	color: unset;
}

.bp5-dark a.btn:hover {
	color: white;
}
