:root {
  --banner-height: 50px;
  --toolbar-height: 60px;
}

.editor-container {
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style used to make rich-text-editor to full-size */
.editor-container-fullsize {
  position: absolute; 
  /* In full size mode the richtext-editor start position, just below the topbar */
  top: var(--banner-height);
  left: 0;
  max-width: none;
  max-height: calc(100% - var(--banner-height)) !important;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  z-index: 1201;
  /* Hide scrollbars in both x and y directions */
  overflow: hidden;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
}

.editor-container .editable {
  min-height: 10rem;
  max-height: 25rem;
  overflow: auto;
  padding: 1rem;
}

/* Style used to make editable area to full-size */
.editor-container .editable-fullsize {
  /* Prevent edit-area from being longer than the editor-container */
  max-height: calc(99% - var(--toolbar-height)) !important; 
  /* Support full height, but limited by max-height parameter */
  height: 99%; 
  border: 1px solid #ccc;
}

.editor-toggle-button-container {
  flex-grow: 1;
  flex-shrink: 1;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.editor-toggle-button-container:first-child {
  border-left: none;
}

.editor-toggle-button {
  width: 100%;
  border: none;
  background-color: white;
  padding: 6px 12px;
}

.editor-toggle-button:hover {
  background-color: #e6e6e6;
}

.editor-toggle-button.active{
  background-color: #ccc;
}

.editor-link-chooser {
  z-index: 1300 !important;
}

/* 
 * Rich text editor style overrides.
*/

.editable h1 {
  font-size: 1.5rem;
}

.editable h2 {
  font-size: 1.25rem;
}

.editable h3 {
  font-size: 1.0rem;
}

.compact-view .rich-text-image {
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
  object-fit: contain;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}

.compact-view .rich-text-image-wrapper {
  display: inline;
}
