logging:
  config: file:logback-spring.xml

spring:
  servlet:
    # Allow upload of large files
    multipart:
      max-file-size: -1
      max-request-size: -1

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none

  liquibase:
    analytics-enabled: false
    change-log: classpath:db-changelog.yml

  # Security through Keycloak
  security:
    oauth2:
      client:
        registration:
          keycloak:
            authorization-grant-type: authorization_code
            scope: openid

  shell:
    history:
      enabled: false

  task:
    scheduling:
      pool:
        # Allow our worker threads to run concurrently
        size: 10

# GraphQL integration
anet:
  graphql-base-packages: mil.dds.anet

# Apache CXF Servlet
cxf:
  # Ensures that CXF directly handles requests to /*
  path: /cxf
