.border-between > [class*='col-']:before,
.border-between > [class*='col-']:after {
  background: #e3e3e3;
  bottom: 0;
  content: " ";
  position: absolute;
  width: 1px;
  top: 0;
}
.border-between > [class*='col-']:before {
  left: 0;
}
.border-between > [class*='col-']:after {
  right: -1px;
}
.border-between > [class*='col-']:first-child:before,
.border-between > [class*='col-']:last-child:after {
  display: none;
}

.border-between {
}

.overlayFilters {
  list-style-type: none;
}
.overlayFilters > li > button {
  text-decoration: none;
  text-align: right;
  border-radius: 4px;
}
.overlayFilters > li > button:hover,
.overlayFilters > li > button:focus {
  text-decoration: none;
  outline: none;
}
.overlayFilters > li > button:hover {
  background-color: #e0e0e0;
}
.overlayFilters > li.active > button {
  border: 2px solid #1772B8;
}

.attendeesOverlayTable.table > tbody > tr > td,
.advisorAttendeesTable.table > tbody > tr > td,
.principalAttendeesTable.table > tbody > tr > td  {
  vertical-align: middle;
}

.popover-content {
  height:100%;
  overflow: auto;
}

.bp3-popover.advancedSelectPopover {
  width: 100%;
  height:100%;
  overflow: auto;
}

.bp3-popover.advancedSelectPopover .bp3-popover-content {
  box-shadow: 0 6px 20px hsla(0, 0%, 0%, 0.4);
  padding: 15px;
}
.bp3-transition-container {
  width: 120%;
}