.border-between > [class*='col-']:before,
.border-between > [class*='col-']:after {
  background: #e3e3e3;
  bottom: 0;
  content: " ";
  position: absolute;
  width: 1px;
  top: 0;
}
.border-between > [class*='col-']:before {
  left: 0;
}
.border-between > [class*='col-']:after {
  right: -1px;
}
.border-between > [class*='col-']:first-child:before,
.border-between > [class*='col-']:last-child:after {
  display: none;
}

.advancedSelectFilters {
  list-style-type: none;
}
.advancedSelectFilters > li > button {
  text-decoration: none;
  text-align: right;
  border-radius: 4px;
}
.advancedSelectFilters > li > button:hover,
.advancedSelectFilters > li > button:focus {
  text-decoration: none;
  outline: none;
}
.advancedSelectFilters > li > button:hover {
  background-color: #e0e0e0;
}
.advancedSelectFilters > li.active > button {
  border: 2px solid #1772B8;
}

.attendeesOverlayTable.table > tbody > tr > td,
.advisorAttendeesTable.table > tbody > tr > td,
.principalAttendeesTable.table > tbody > tr > td  {
  vertical-align: middle;
}
