.border-between > [class*='col-']:before,
.border-between > [class*='col-']:after {
  background: #e3e3e3;
  bottom: 0;
  content: " ";
  position: absolute;
  width: 1px;
  top: 0;
}
.border-between > [class*='col-']:before {
  left: 0;
}
.border-between > [class*='col-']:after {
  right: -1px;
}
.border-between > [class*='col-']:first-child:before,
.border-between > [class*='col-']:last-child:after {
  display: none;
}

.advanced-select-filters {
  list-style-type: none;
}
.advanced-select-filters > li > button {
  text-decoration: none;
  text-align: right;
  border-radius: 4px;
}
.advanced-select-filters > li > button:hover,
.advanced-select-filters > li > button:focus {
  text-decoration: none;
  outline: none;
}
.advanced-select-filters > li > button:hover {
  background-color: #e0e0e0;
}
.advanced-select-filters > li.active > button {
  border: 2px solid #1772B8;
}

.advanced-select-popover table > tbody > tr > td {
  vertical-align: middle;
}
