@page {
  margin: 0;
}
@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  button {
    display: none;
  }

  .print-page .workflow-action button,
  .print-page .banner
   {
    display: inline-block !important;
  }
  body {
    margin: 0;
  }
  /* messes with print pdf*/
  svg > text#__react_svg_text_measurement_id {
    display: none;
  }

}