div.radio.primary > label,
div.checkbox.primary > label {
  display: flex;
  flex-direction: row-reverse;
}

div.radio.primary > label > input,
div.checkbox.primary > label > input{
  margin: 2px 0 0 -2px;
}

div.radio.primary > label > span,
div.checkbox.primary > label > span {
  padding-right: 25px;
  padding-top: 4px;
  line-height: normal;
}

.isCurrentEditor.checkbox.primary > label > span {
  background-color: green;
}

.inActive.checkbox.primary > label > span {
  color: grey;
  background-color: white;
  font-style: italic;
}

@media print {
  .report-author {
    display: none;
  }
}
