.user-activities-table-container {
  height: 400px;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}

.user-activities-table-container table th {
  position: sticky;
  top: 0;
  background: #f9f9f9;
  box-shadow: inset 0 1px #ddd, 0 1px #ddd;
}

.user-activities-table-container table {
  margin-bottom: 0;
}

.user-activities-table-container .nobr {
  white-space: nowrap;
}
