/******** FILE UPLOAD AREA ********/
.FileUploadContainer {
  margin: 10px 0;
  display: flex;
  position: relative;
  padding: 35px 20px;
  border-radius: 6px;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 2px dotted lightgray;
}

.FileUploadContainer:hover {
  background-color: #dddbdb;
}

.FormField {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  border: none;
  display: block;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  text-transform: none;
}

.InputLabel {
  left: 0;
  top: -21px;
  color: black;
  font-size: 13px;
  position: absolute;
}

.DragDropText {
  display: flex;
  margin-top: 0;
  text-align: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 2.2px;
}

.DragDropText > img {
  margin-bottom: 10px;
  width: fit-content;
}

.UploadFileBtn {
  width: 45%;
  z-index: 1;
  display: flex;
  line-height: 1;
  cursor: pointer;
  font-size: 1rem;
  padding-right: 0;
  appearance: none;
  overflow: hidden;
  font-weight: 700;
  color: #3498db;
  text-align: center;
  border-radius: 6px;
  position: relative;
  align-items: center;
  padding: 1.1em 2.8em;
  justify-content: center;
  box-sizing: border-box;
  text-transform: uppercase;
  border: 2px solid #3498db;
  background-color: transparent;
  transition: color 250ms ease-in-out;
  font-family: "Open Sans", sans-serif;
}

.FilePreviewContainer {
  margin-bottom: 35px;
}

.imageCardWrap {
  display: flex;
  flex-wrap: wrap;
}

.PreviewCard {
  width: 100%;
}

.PreviewList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.PreviewContainer {
  width: 20%;
  height: 120px;
  padding: 0.25rem;
  border-radius: 6px;
  box-sizing: border-box;
}

.ImagePreview {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.file-info {
  display: none;
}
.info-show:hover .file-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff73;
  justify-content: space-between;
}
.info-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.file-info > .bp4-popover2-target {
  height: 100%;
  width: 100%;
}
.detail-btn {
  display: grid;
  width: 100%;
  height: 120px;
  place-content: center;
}
.icon:hover {
  cursor: pointer;
}
.edit:hover {
  color: blue;
}
.delete:hover {
  color: #cd2222;
}

/******** ATTACHMENT CARD ********/
.card-image {
  width: 100%;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.10rem 0.10rem 0 0;
}

/******** ATTACHMENT SHOW PAGE ********/
.img-hover-zoom {
  height: 100%;
  overflow: hidden;
}
.attachmentImage {
  width: 100%;
  border-radius: 5px;
  transition: transform .5s ease;
}
.img-hover-zoom:hover .attachmentImage {
  cursor: zoom-in;
  transform: scale(1.5);
}
