[Unit]
Description = ANET (Advisor Network) Service
[Service]
ExecStart = /opt/anet/bin/anet
WorkingDirectory = /opt/anet
[Install]
WantedBy = multi-user.target
