/* Tweak rollup date range input */
.rollupDateRange div.bp3-input-group:first-child::before {
	vertical-align: middle;
	content: "from";
	margin-right: 5px;
}
.rollupDateRange div.bp3-input-group:last-child::before {
	vertical-align: middle;
	margin-left: 5px;
	content: "to";
	margin-right: 5px;
}
.bp3-transition-container {
	/* Make sure it is on top of the advanced search popup */
	z-index: 1070 !important;
}

/* Make bp3 timepicker in-line
.bp3-timepicker {
	display: inline-block;
	vertical-align: middle;
	padding-left: 8px;
}
*/

/* Make bp3 input and right element behave mostly like bootstrap inputs */
.bp3-input {
	height: 38px;
}
.bp3-input-action {
	height: 38px;
	padding: 6px 12px;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/* If no right element, take up no space */
.bp3-input-action:empty {
	display: none;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	/* IE10+ specific styles go here */
	button.bp3-button > span.bp3-icon {
		padding-top: 2px !important;
	}
}
