/* Override @fullcalendar styles (variables are in fullcalendar-vars.css) */

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: var(--fc-button-active-text-color);
}
.fc .fc-button-primary:not(:disabled):hover {
  color: var(--fc-button-hover-text-color);
}
.fc .fc-button-primary:disabled {
  color: var(--fc-button-disabled-text-color);
  background-color: var(--fc-button-disabled-bg-color);
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 1em;
}
