.fc .fc-button,
.fc .fc-button-primary{
    color: black;
    background-color: white;
    border-color: #ccc;
}

.fc .fc-button-primary:disabled,
.fc .fc-button-primary:active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: #fff;
  opacity: unset;
  background-color: #337ab7;
  border-color: #ccc;
}

.fc .fc-button:not(:disabled):hover {
    color: black;
    background-color: #ccc;
    border-color: #ccc;
  }

.fc .fc-button:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.fc .fc-list-empty {
  padding: 8px 4px;
  border-width: 1px 0 0;
  border-color: #ccc;
}
.fc .fc-list-empty .fc-list-empty-cushion {
  margin: 0;
}

a.fc-col-header-cell-cushion, a.fc-col-header-cell-cushion:hover, a.fc-col-header-cell-cushion:focus,
a.fc-list-day-text, a.fc-list-day-text:hover, a.fc-list-day-text:focus {
  text-decoration: none;
  cursor: default;
  color: #363636;
}

.fc-event {
  min-height: 20px;
}

/* workaround for https://github.com/fullcalendar/fullcalendar/issues/5532 */
.fc-more-popover {
  max-height: 95%;
  overflow-y: auto;
}

/* Make sure that when scrolling on a time grid, the all-day events don't overlap
the sticky days header. Workaround for
https://github.com/fullcalendar/fullcalendar/issues/5596 */
.fc .fc-timegrid .fc-daygrid-body {
  z-index: 1;
}
