/* set tooltips container style */
/* make it above header*/
.bp5-portal {
  z-index: 1600;
}

.preview-sticky-title {
  position: sticky !important;
  background-color: rgba(224, 232, 237, 255);
  top: 0;
  margin-bottom: 10px;
  padding: 10px 0 10px;
  z-index: 1650;
}

.preview-content-scroll {
  max-height: 800px !important;
  max-width: 600px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.linkto-model-preview-portal > .bp5-overlay > .bp5-popover-transition-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  border-radius: 5px;
  text-align: left;
}

.model-preview .form-horizontal .form-label {
  text-align: left;
}
