/*START general preview style START*/
.model-preview {
  outline: 4px solid pink;
}

/*END general preview style END*/

/*START linkTo triggered preview style START*/
.linkto-model-preview-portal .model-preview {
  outline: 4px solid green;
}

/* remove guided tours from previews */
.linkto-model-preview-portal .model-preview .persistent-tour-launcher {
  display: none;
}

/* remove action buttons from previews */
.linkto-model-preview-portal .model-preview .action-small {
  display: none;
}

/* make row flex containers column */
.linkto-model-preview-portal .model-preview .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkto-model-preview-portal .model-preview .row > *{
  width: 100%;
}

.linkto-model-preview-portal .model-preview fieldset {
  padding: 1em;
}
/*END linkTo triggered preview style END*/

