.mosaic.mosaic-blueprint-theme {
  background: #fff;
}

.mosaic.mosaic-blueprint-theme .mosaic-window .mosaic-window-body {
  background-color: #f9f9f9;
}

.mosaic-tile {
  margin: 8px;
}

.mosaic-root {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mosaic-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 80vh;
}

.mosaic-container .scrollable {
  height: 100%;
  padding: 15px;
  overflow: auto;
}

.mosaic-container .scrollable-y {
  height: 100%;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.mosaic-container .non-scrollable {
  height: 100%;
  padding: 15px;
  overflow: hidden;
}

.bp3-button {
  margin-left: 5px;
}

#graph-popover {
	z-index: 100;
}

.bp3-navbar {
  margin: 8px;
  width: inherit;
}

@media print {
  .bp3-navbar,
  .mosaic-preview {
    display: none;
  }
}

@import './BlueprintOverrides.css'
