.mosaic-container {
  flex: 1;
  min-height: 200px;
}

.mosaic-container .scrollable {
  height: 100%;
  overflow: auto;
}

.mosaic-container .scrollable-y {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.mosaic-container .non-scrollable {
  height: 100%;
  overflow: hidden;
}

.actions-label {
  margin-right: 3px;
}

.bp3-button {
  margin-left: 2px;
}

@media print {
  .mosaic-preview {
    display: none;
  }
}
