#mosaic-container {
  height: 60vh;
  width: 100%;
  margin: 0;
}

#mosaic-container .scrollable {
  height: 100%;
  overflow-y: scroll;
}

#mosaic-container .non-scrollable {
  height: 100%;
  overflow: hidden;
}

.actions-label {
  margin-right: 3px;
}

.bp3-button {
  margin-left: 2px;
}
