.Draftail-Editor .DraftEditor-root {
  font-size: 1.75rem;
}

.Draftail-ToolbarButton {
  font-size: 2rem;
  font-weight: 300;
}

.Draftail-Editor--focus .Draftail-Toolbar {
  top: -15px;
}

.Draftail-block--unstyled {
  margin: 0.75rem 0;
}
