/* to override defaults*/
.anet .Draftail-Editor .DraftEditor-root {
  font-size: 1.75rem;
  min-height: 10rem;
}

.anet .Draftail-ToolbarButton {
  font-size: 2rem;
  font-weight: 300;
}

.anet .Draftail-Editor--focus .Draftail-Toolbar {
  top: -15px;
}

.anet .Draftail-block--unstyled {
  margin: 0.75rem 0;
}
